body {
    background-color: #0f0f0f;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    scroll-behavior: smooth;
}

header, footer {
    margin: 2%;
}

.conteudo {
    margin: 5% 2%;
}

header h3, header h1 {
    margin: 0px;
}

header h3 {
    color: rgb(255, 86, 86);
}

ul, p {
    font-size: 20px;
    margin: 5px 0px;
}

ul {
    margin: 15px 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 86, 86);
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 750px;
}

.pre {
    padding: 10px 0 10px 15px;
    border-left: 3px solid #fff;
    background-color: rgba(112, 112, 112, 0.116);
    font-weight: 300;
    font-size: 0.9rem;
    font-family: Consolas,monaco,monospace !important;
    box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.158);
}

.pre-cit {
    text-align: right;
    color: rgb(255, 86, 86);
    margin: 0 0 0 auto;
    display: block;
    padding: 0 15px 0 0;
}

.mostra {
    animation: mostra 1s infinite linear;
}

@keyframes mostra {
    0% {
        box-shadow: 0px 0px 50px rgb(255, 86, 86);
    }
    100% {
        box-shadow: 0px 0px 0px rgb(255, 86, 86);
    }
}

/*aula 4*/
.grupo {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 15px;
    background-color: rgba(112, 112, 112, 0.116);
    max-width: 500px;
    border: 2px dashed rgb(255, 86, 86);
}