body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

.container-header {

}

header img {
    border-radius: 50%;
    height: 200px;
}