@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    
    width: 100vw;
}

.container-header {
    background-color: #0f0f0f;
    height: 100vh;
}

header {
    text-align: center;
    margin: auto;
}

header h1, header p {
    margin: 0px;
}

header p {
    font-size: 20px;
}

header img {
    border-radius: 50%;
    height: 200px;
}

.container-conteudo {
    margin: 0;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-around;
    justify-items: center;
}

.outros {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
}

.video {
    margin: auto;
}

.aula {
    margin: 100px 0;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    text-align: center;
    cursor: pointer;   
    justify-items: center;
    align-content: space-around;
    box-shadow: #3b3b3ba6  0 7px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
    background: rgba(0, 0, 0, 0.493);
}

.aula:hover {
    transform: translateY(-25px);
}

.aulas {
    cursor:not-allowed;
}

.aulas:hover {
    transform: translateY(0);
}

.aula h2 {
    background-color: #0f0f0fc4;
    border-radius: 10px;
    width: 120px;
}

.aula1 {
    background: linear-gradient(348deg, rgba(125,255,42,1) 0%, rgba(251,57,36,1) 50%, rgba(0,99,255,1) 100%);
}

.aula2 {
    background: linear-gradient(18deg, rgba(0,232,237,1) 0%, rgba(217,183,28,1) 50%, rgba(255,70,195,1) 100%);
}

.aula3 {
    background: linear-gradient(225deg, rgba(69,69,207,1) 0%, rgba(29,172,106,1) 50%, rgba(133,81,236,1) 100%);
}

.aula4 {
    background: linear-gradient(153deg, rgba(179,15,62,1) 0%, rgba(42,49,175,1) 50%, rgba(76,225,255,1) 100%);
}

.aula5 {
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

.aula6 {
    background: linear-gradient(35deg, #00b09b, #96c93d);
}

.aula7 {
    background: linear-gradient(165deg, #feac5e, #c779d0, #4bc0c8);
}

.aula8 {
    background: linear-gradient(215deg, #ec008c, #fc6767);
}

.aula9 {
    background-color: #2692F0;
}

.aula10 {
    background-color: #F0463E;
}

.aula11 {
    background-color: #3ef04d;
}

.aula12 {
    background-color: #f0ed3e;
}

.aula13 {
    background: linear-gradient(54deg, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
}

@media screen and (max-width: 1439px){
    .container-conteudo {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1023px){
    .container-conteudo {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 699px){
    .container-conteudo {
        grid-template-columns: 1fr;
    }
}